@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}

section#sidebar {
    width: 5%;
    background-color: rgb(31, 30, 30);
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
}

.sidebar-brand {
    padding: 50px 40px;
}

.sidebar-menu ul li a {
    display: block;
    padding: 10px 40px;
    color: #fff;
}

.sidebar-menu ul li span {
    padding: 10px;
}

.header{
    background-color: hsl(0, 74%, 74%);
    height: 90vh;
}
h2{
    padding: 50px 860px;
    font-size: 35px;
    color: white;
}
.mid{
    border-radius: 16% 9% 0% 0%;
    height: 84.2vh;
    background-color: hsl(0, 84%, 87%);
}
#home{
    font-size: 35px;
    color: white;
    padding: 30px 0;
}
#list{
    font-size: 35px;
    color: white;
    padding: 30px 0;
}
.footer1 #add{
    color: white;
    background: transparent;
    cursor: pointer;
    background-color: rgb(31, 30, 30);
    position: absolute;
    font-size: 30px;
    right: 2%;
    border: 2px solid rgb(31, 30, 30);
    border-width: 30px;
    border-radius: 100%;
    bottom: 20px;
}
#settings{
    font-size: 35px;
    color: white;
    padding: 30px 0;
}
#user{
    font-size: 35px;
    color: white;
    padding: 30px 0;
}
.footer{
    display: none;
}
@media only screen and (max-width: 375px){ 
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}
#sidebar{
    display: none;
}
.header{
    background-color: hsl(0, 74%, 74%);
    height: 90vh;
}
h2{
    padding: 50px 20px;
    color: white;
}
.mid{
    border-radius: 9% 9% 0% 0%;
    height: 74vh;
    background-color: hsl(0, 84%, 87%);
}
.footer{
    display: block;
    overflow: hidden;
    height: 10vh;
    background-color: rgb(31, 30, 30);
}
.footer1{
    display: none;
}
.footer #home{
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 2px;
}
.footer #list{
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 100px;
    bottom: 2px;
}
.footer #add{
    color: white;
    background: transparent;
    cursor: pointer;
    background-color: hsl(0, 74%, 74%);
    position: absolute;
    font-size: 25px;
    left: 163px;
    border: 2px solid hsl(0, 74%, 74%);
    border-width: 20px;
    border-radius: 15%;
    bottom: 30px;
}
.footer #settings{
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 260px;
    bottom: 2px;
}
.footer #user{
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 325px;
    bottom: 2px;
}
}